---
import Layout from "../layouts/Layout.astro"
---

<Layout title={"Page not found"} description={"Lost?"}>
    <main>
        <h1>404</h1>
        <p>Sorry, we couldn't find what you were looking for.</p>
        <a href="/">Go back home</a>
    </main>
</Layout>
