---
import Layout from "../layouts/Layout.astro"
import { getCollection } from "astro:content"

const ClassData = await getCollection("classes")
---

<Layout title="Classes">
    <main>
        <h1>Classes</h1>
        <ul role="list" class="link-card-grid">
            {
                ClassData.map(({ data: class5e }) => (
                    <li class="card">
                        <span class="title">
                            <a href={`/classes/${class5e.slug}`}>
                                <strong>{class5e.name}</strong>
                            </a>

                            <span class="source">{class5e.document__slug}</span>
                        </span>
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>
