---
import Layout from "../layouts/Layout.astro"
import { MonsterSchema } from "../api/monster"
import Search from "../components/Search"
const modules = [...(await Astro.glob("/src/api/monsters.json"))] as [
    { default: any[] }
]

const imgTag = (img: boolean) => (img ? "ðŸ–¼ï¸" : "")

const Monsters = modules[0].default.map((raw) => MonsterSchema.parse(raw))
---

<Layout title="Monsters">
    <main>
        <h1>Monsters</h1>
        <Search initialResults={Monsters} client:load>
            {
                Monsters.map((monster) => (
                    <li class="card">
                        <span class="title">
                            <a href={`/monsters/${monster.slug}`}>
                                <strong>{monster.name}</strong>
                            </a>

                            <span class="source">{monster.document__slug}</span>
                        </span>
                        <p>
                            {"CR " +
                                monster.challenge_rating +
                                " " +
                                monster.size +
                                " " +
                                monster.type +
                                " " +
                                imgTag(!!monster.img)}
                        </p>
                    </li>
                ))
            }
        </Search>
    </main>
</Layout>
