---
import Layout from "../layouts/Layout.astro"
import Search from "../components/Search"
import { getCollection } from "astro:content"

const montersEntries = await getCollection("monsters")
const monsters = montersEntries.map((entry) => entry.data)
---

<Layout title="Monsters">
    <main>
        <h1>Monsters</h1>
        <Search initialResults={monsters} client:load />
    </main>
</Layout>
